/* Tabs Nav
----------- */
body .outspoke-tabs-nav {
  margin-bottom: -4px !important;
  z-index: 1;
}

.outspoke-tabs-nav .slick-arrow {
  border-color: #00638e;
  border-style: solid;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  text-indent: -999999px;
  background: transparent;
}

.outspoke-tabs-nav .slick-arrow::before {
  content: '';
}

.outspoke-tabs-nav .slick-prev {
  border-width: 0 0 1px 1px;
  transform: rotate(45deg);
  left: -30px;
}

.outspoke-tabs-nav .slick-next {
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg);
  right: -30px;
}

.outspoke-tabs-nav .slick-slide {
  text-align: center;
  color: #00638e;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  outline: none;
  cursor: pointer;
  padding-bottom: 90px;
  position: relative;
}

.outspoke-tabs-nav .slick-slide::after,
.outspoke-tabs-nav .slick-slide::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 0px 40px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  transition: all linear 0.2s;
}

.outspoke-tabs-nav .slick-slide::before {
  border-color: transparent transparent #00638e transparent;
  bottom: 0;
}

.outspoke-tabs-nav .slick-slide::after {
  border-color: transparent transparent white transparent;
  bottom: -6px;
}

.outspoke-tabs-nav figure {
  background: #ecf9ff;
  padding-bottom: 100%;
  position: relative;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
  transition: background linear 0.2s;
}

.outspoke-tabs-nav figure img {
  display: block;
  margin: 0;
  vertical-align: middle;
  max-width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.2s;
}

.outspoke-tabs-nav img.active {
  opacity: 0;
}

.outspoke-tabs-nav img.inactive {
  opacity: 1;
}

.outspoke-tabs-nav .slick-current figure {
  background: #00638e;
}

.outspoke-tabs-nav .slick-current img.active {
  opacity: 1;
}

.outspoke-tabs-nav .slick-current img.inactive {
  opacity: 0;
}

.outspoke-tabs-nav .slick-current::before,
.outspoke-tabs-nav .slick-current::after {
  border-width: 0 40px 45px 40px;
}

/* Tabs Content
--------------- */
.outspoke-tabs {
  border: 4px solid #00638e;
  padding: 2rem;
}
